<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

  <script>
    // Turn on darkmode switch by default
    function check() {
      document.getElementById("dark-switch").checked = true
    }
    
    // Detect if the user is cool and uses dark mode
    const htmlEl = document.getElementsByTagName('body')[0];
    const img = document.getElementsByTagName('img')[0];
    const toggleTheme = (theme) => {
        htmlEl.dataset.theme = theme;
        try {
          img.dataset.theme = theme;
        } catch (err) {
          // Do nothing because we dont care
          // if the page does not have an image.
          //console.log(err);
        }
        localStorage.setItem("theme", theme);
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches && localStorage.getItem("theme") == "dark") {
      toggleTheme('dark');
      console.log("Dark theme! #SoEdgy");
      check();
    } else {
      toggleTheme('light');
      console.log("Light theme! AHH MY EYES!!!");
    }
    function ChangeTheme(choice) {
        if (choice.checked) {
          toggleTheme('dark');
        } else {
          toggleTheme('light');
        }
    }
  </script>

</footer>
